<div class=" firstSection">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/firefoxElement/file.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
  <div class="row navbar" style="background-color:  rgb(29, 44, 58);">
    <div class="col-3">
      <div class="row ">
        <div class="col-3">
          <img class="" src="../../../assets/firefoxElement/logo.webp" />
        </div>
        <div class="col-6">
          <div class="logTitle logTitleAbove">SPHERE</div>
          <div class="logTitle logTitleDown">CONSTRUCTIONS</div>
        </div>
      </div>
    </div>

    <div class="col-9 links ">
      <nav class="navbars  navbar-expand-lg ">
        <div
          class="collapse navbar-collapse float-right "
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <div class="col-2 categories">
              <li class="nav-item dropdown mr-5">
                <a class="nav-link" href="#"> HOME</a>
              </li>
            </div>

            <div class="col-2 home mr-4">
              <li class="nav-item ">
                <a class="nav-link" href="#">SERVICES</a>
              </li>
            </div>

            <div class="col-2 about mr-4">
              <li class="nav-item ">
                <a class="nav-link " href="#">ABOUT</a>
              </li>
            </div>

            <div class="col-2 courses mr-3">
              <li class="nav-item ">
                <a class="nav-link " href="#">PROJECTS</a>
              </li>
            </div>

            <div class="col-2 contact mr-4">
              <li class="nav-item ">
                <a class="nav-link  " href="#">CONTACT</a>
              </li>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row content">
    <div class="firstSectionContent">
      <p class="firstSectionText">
        LEADERS IN QUALITY CONSTRUCTION AND INFRASTRUCTURE
      </p>
      <img src="../../../assets/firefoxElement/dowArrow.webp" />
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<div class="container-fluid sectionTwo">
  <section class="sections Services">
    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-title ">SERVICES</h2>
        <div class="line">
          <span></span>
        </div>
      </div>

      <div class="row cards">
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="../../../assets/firefoxElement/Screenshot (6).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                <div class="abovCardHeader">Preconstruction</div>
                <div class="underCardHeader">Planning</div>
              </h5>
              <p class="card-text">
                I'm a paragraph. Click here to add your own text and edit me.
                It’s easy. Just click “Edit Text” or double click me to add your
                own content and make changes to the font.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="../../../assets/firefoxElement/Screenshot (7).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                <div class="abovCardHeader">Architectural</div>
                <div class="underCardHeader">Modelling</div>
              </h5>
              <p class="card-text">
                I'm a paragraph. Click here to add your own text and edit me.
                It’s easy. Just click “Edit Text” or double click me to add your
                own content and make changes to the font.
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="../../../assets/firefoxElement/Screenshot (8).png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                <div class="abovCardHeader">Construction</div>
                <div class="underCardHeader">Management</div>
              </h5>
              <p class="card-text">
                I'm a paragraph. Click here to add your own text and edit me.
                It’s easy. Just click “Edit Text” or double click me to add your
                own content and make changes to the font.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 100px;"></div>
  </section>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="container-fluid section3">
  <div class="row">
    <div class="col-6 section3Cont">
      <div class="section-header text-center">
        <h2 class="section-title ">ABOUT</h2>
        <div class="line">
          <span></span>
        </div>
      </div>

      <div class="section3paragraph">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-7">
            <p>
              I'm a paragraph. Click here to add your own text and edit me. It’s
              easy. Just click “Edit Text” or double click me to add your own
              content and make changes to the font. Feel free to drag and drop
              me anywhere you like on your page. I’m a great place for you to
              tell a story and let your users know a little more about you.​This
              is a great space to write long text about your company and your
              services. You can use this space to go into a little more detail
              about your company. Talk about your team and what services you
              provide. Tell your visitors the story of how you came up with the
              idea for your business and what makes you different from your
              competitors. Make your company stand out and show your visitors
              who you are.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 section3Img">
      <img src="../../../assets/firefoxElement/section3Image.webp" />
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="container-fluid section4">
  <div class="container insideSection4">
    <div class="row">
      <div class="col-3">
        <div class="above">2023</div>
        <div class="down">
          <div class="downAbove">Year</div>
          <div class="downDown">Established</div>
        </div>
      </div>

      <div class="col-3">
        <div class="above">206</div>
        <div class="down">
          <div class="downAbove">Projects</div>
          <div class="downDown">Completed</div>
        </div>
      </div>
      <div class="col-3">
        <div class="above">870</div>
        <div class="down">
          <div class="downAbove">Contractors</div>
          <div class="downDown">Appointed</div>
        </div>
      </div>

      <div class="col-3">
        <div class="above">26</div>
        <div class="down">
          <div class="downAbove">Awards</div>
          <div class="downDown">Won</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="container-fluid section5">
  <section class="sections Services">
    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-title ">PROJECTS</h2>
        <div class="line">
          <span></span>
        </div>
      </div>
      <div class="section5Img">
        <div class="row">
          <div class="col-5 mr-4">
            <img src="../../../assets/firefoxElement/section52.webp" />
          </div>
          <div class="col-6">
            <img src="../../../assets/firefoxElement/section54.webp" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-5 mr-4">
            <img src="../../../assets/firefoxElement/section51.webp" />
          </div>
          <div class="col-6">
            <img src="../../../assets/firefoxElement/section53.webp" />
          </div>
        </div>
      </div>
    </div>
    <div style="height: 100px;"></div>
  </section>
</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="container-fluid section6">
  <div class="section-header text-center">
    <h2 class="section-title ">CLIENTS</h2>
    <div class="line">
      <span></span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2 section61Img">
        <img src="../../../assets/firefoxElement/section61.webp" alt="" />
      </div>
      <div class="col-2 section62Img">
        <img src="../../../assets/firefoxElement/section62.webp" alt="" />
      </div>
      <div class="col-2 section63Img">
        <img src="../../../assets/firefoxElement/section63.webp" alt="" />
      </div>
      <div class="col-2 section64Img">
        <img src="../../../assets/firefoxElement/section64.webp" alt="" />
      </div>
      <div class="col-2 section65Img">
        <img src="../../../assets/firefoxElement/section65.webp" alt="" />
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="container-fluid section7">
  <div class="section-header text-center">
    <h2 class="section-title ">CONTACT</h2>
    <div class="line">
      <span></span>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <!-- <agm-map [latitude]="30.06263" [longitude]="31.24967" [zoom]="zoom">
        <agm-marker [latitude]="29.996550" [longitude]="31.195740"></agm-marker>
      </agm-map> -->
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-5">
      <h3>Inquiries</h3>
      <div style="line-height: 8px">
        <p>For any inquiries, questions or commendations, please</p>
        <p>call: 123-456-7890 or fill out the following form</p>
      </div>

      <h3 class="mt-5">Contact Us</h3>
      <div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="inputName">Enter Your Name</label>
              <input
                type="text"
                class="form-control"
                id="inputEmail4"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="inputEmail4">Enter Your Email</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Email"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="inputSubject">Enter Your Subject</label>
              <input
                type="text"
                class="form-control"
                id="inputSubject"
                placeholder="Subject"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-10">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="5"
                placeholder="Message"
              ></textarea>
            </div>
          </div>
          <button type="submit" class="contactBTN">submit</button>
        </form>
      </div>
    </div>
    <div class="col-5">
      <h3>Head Office</h3>
      <div style="line-height: 8px">
        <p>500 Terry Francois Street</p>
        <p>San Francisco, CA 94158</p>
      </div>
      <div class="mt-5 mb-5" style="line-height: 8px">
        <p>info@mysite.com</p>
        <p>Tel: 123-456-7890</p>
        <p>Fax: 123-456-7890</p>
      </div>
      <h3>Employment</h3>
      <div style="line-height: 8px">
        <p>To apply for a job with Sphere Constuctions,</p>
        <p>please send a cover letter together with your</p>
        <p>C.V. to: info@mysite.com</p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div style="margin-top: 50px">
      <p>© 2020 Proudly created</p>
    </div>
  </div>
</div>
