<div class=" firstSection">
  <div class="video-container">
    <video autoplay muted loop id="myVideo">
      <source src="../../../../assets/iameveami/file.mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="container-fluid firstSectionAllContent" [@enterbtn]>
    <div class="row navbar">
      <div class="col-1 mt-4 ">
        <img src="../../../../assets/iameveami/logo.webp" />
      </div>
      <div class="col-9 links mt-4">
        <nav class="navbars  navbar-expand-lg ">
          <div
            class="collapse navbar-collapse float-right "
            id="navbarNavDropdown"
          >
            <ul class="navbar-nav">
              <div class="col-2 categories">
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#"> HOME.</a>
                </li>
              </div>

              <div class="col-2 home ">
                <li class="nav-item ">
                  <a class="nav-link" href="#">ABOUT.</a>
                </li>
              </div>

              <div class="col-2 about ">
                <li class="nav-item">
                  <a class="nav-link " href="#">MEDIA.</a>
                </li>
              </div>

              <div class="col-2 courses">
                <li class="nav-item ">
                  <a class="nav-link" href="#">MUSINGS.</a>
                </li>
              </div>

              <div class="col-2 contact ">
                <li class="nav-item">
                  <a class="nav-link  " href="#">EVENTS.</a>
                </li>
              </div>

              <div class="col-2 contact ">
                <li class="nav-item ">
                  <a class="nav-link  " href="#">SHOP.</a>
                </li>
              </div>

              <!-- <div class="col-2 contact">
                <li class="nav-item ">
                  <a class="nav-link  " href="#">CONNECT.</a>
                </li>
              </div> -->
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-2 mt-4 ">
        <button class="SubscribeBTN">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="row firstSectionContent" style="margin-top: 350px">
    <div class="col-1"></div>
    <div class="col-1">
      <img src="../../../../assets/iameveami/zegzag.webp" />
      <br />
      <img class="mt-3" src="../../../../assets/iameveami/welcome.webp" />
      <br />
      <img class="mt-3" src="../../../../assets/iameveami/doubleArrow.webp" />
    </div>
    <div class="col-3" [@enterImage]>
      <div class="">
        <img src="../../../../assets/iameveami/firstName.webp" />
        <img src="../../../../assets/iameveami/secondName.webp" />
      </div>
    </div>
  </div>
</div>

<div class="secondSection">
  <div class="video-container">
    <video autoplay muted loop id="mySecondVideo">
      <source src="../../../../assets/iameveami/file(2).mp4" type="video/mp4" />
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="secondSectionAllContent">
    <img src="../../../../assets/iameveami/secondSec.webp" />

    <div class="row secondSectionTXTContent">
      <div class="col-6"></div>
      <div class="col-6">
        <div *ngIf="show" class="col-8" [@enter]>
          <p>Described by The Huffington Post as</p>
          <p class="secondP mb-5">“If Alice took Ziggy Stardust’s Hand</p>
          <div class="secondspan mt-5">
            and followed him down the rabbit hole to a world guided by the
            twists and turns of ethereal and colorful vocal”.
          </div>
        </div>
        <div class="col-4">
          <div class="col-1 secondSecImgs">
            <img src="../../../../assets/iameveami/zegzag.webp" />
            <br />
            <img class="mt-3" src="../../../../assets/iameveami/welcome.webp" />
            <br />
            <img
              class="mt-3"
              src="../../../../assets/iameveami/doubleArrow.webp"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="thirdSection">
  <div class="thirdSectionContent">
    <img src="../../../../assets/iameveami/file.jpg" />
    <h1>Starman</h1>
    <div class="playVideo">
      <a href="#">
        <img class="mr-3" src="../../../../assets/iameveami/play.png" />
        <h3>Play Video</h3>
      </a>
    </div>
  </div>
</div>

<div class="fourthSection">
  <div class="fourthSectionContent">
    <div class="row topRowFourth">
      <!-- <img class="fourthAbove" src="../../../../assets/iameveami/fourthAbove.jpg"> -->
    </div>
    <div class="row fourthSectionSecondRow">
      <div class="col-7 fourthSectionAllContent">
        <img src="../../../../assets/iameveami/fourFirst.webp" />
        <div class="col-10 fourthSectionTXT" [@enterx]>
          <p class=" mb-5">
            IAMEVE’s tale begins with the release of “Starman”
          </p>
          <div class=" fourthSectionTXTFirst mt-5">
            “Starman” is a mesmerizing video short where two soul mates are
            reunited in a multi-dimensional plane of existence.
          </div>
          <div class="fourthSectionTXTFirst mt-5">
            It is part of a sci-fantasy transmedia fairy tale called The
            Everything Nothing, about creation, fractured identity, and
            transcending physical form.
          </div>
        </div>
      </div>
      <div class="col-5">
        <img
          class="fourthLastIMG"
          src="../../../../assets/iameveami/four.webp"
        />
      </div>
    </div>
  </div>
</div>

<div class="fifthSection">
  <div class="fitthSectionContent">
    <div class="row topRowFifth">
      <div class="fifthSectionContent">
        Sign up for the IAMEVE mailing list to get all the latest updates on The
        <span>
          Everything Nothing project as well as other out of the world
          news.</span
        >
        <!-- <div class="row ">
          <div class="col-12">
            <div class="fifthSectionSubscribe" style="margin-top: 30px;">
              <div class="col-7">
                <div class="col-5">
                  <input placeholder="Email Address" />
                </div>
                <div class="col-7">
                  <button>Subscribe Now</button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<div class="sixthSection">
  <div class="sixthSectionContent">
    <div class="row topRowSixth">
      <img
        class="fourthAbove"
        src="../../../../assets/iameveami/fourthAbove.jpg"
      />
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<div class="seventhSection">
  <div class="seventhSectionContent">
    <div class="row "></div>
  </div>
</div>
